/* index.css */
body {
  margin: 0;
  font-family: sans-serif;
}


@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.animate-bounce-slow {
  animation: bounce-slow 2.5s infinite;
}